<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
   <body>
   	<div class="container"> 
   		<div class="col-md-12 text-center">
   			<h1>Predicting Emotions Web Application Based On Twitter</h1>
   		</div>
   		<div class="col-md-6 col-md-offset-3 dis-flex">
   			<input type="text" name="textsearch" class="form-control"> 
   			<i class="fa fa-question fa-2x mr-icon-question" aria-hidden="true"></i>
   		</div>
          <div class=" col-md-6 col-md-offset-3 text-center margin-top"  >
            <a href="search.html" type="button" class="btn btn-primary "  >Search</a>
            <a href="overview.html" type="button" class="btn btn-primary "  >Overview</a>
         </div>
   	</div>
   </body>
   <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
</html> 
