.font-18{
	font-size: 18;
}

/* */
.dis-flex{
	display: flex;
	align-items: center;
}

.margin-top{
	margin-top: 5%;
}
.dis-block{
	display: block
}


/*icon input help*/
.mr-icon-question{
	margin-left: 15px;
}

.scrollbar{
    height: 200px;
    overflow: auto;
    }
.margin-box{
    margin-bottom: 4%;
}
.margin-bt{
    margin-left: 2%;
}

.position-footer{
    position:fixed;
    bottom:0px;
    width:100%;
}

.margin-ber{
    margin-top: 2%;
    margin-bottom: 2%;
}

.margin-bt-search{
    margin-bottom: 1%;
}